<h1>Create a Band To Your List</h1>
<hr>
<br>
<form action="/bands/new" method="post">
  <label for="band-name">Name</label>
  <input id="band-name" name="band-name" type="text">
  <button type="submit">Add</button>
</form>
<br>
<h3><a href="/">Back home</a></h3>
<br>
<h3><a href="/bands">View all bands</a></h3>
