<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="Content/styles.css" >

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li><a class="active"href="/">Home</a></li>
      <li><a class="active" href="/venues">Venues</a></li>
      <li><a class="active" href="/bands">Bands/Artists</a></li>
      <li><a class="active" href="/venues/new">Add Venue</a></li>
      <li><a class="active" href="/bands/new">Add Band</a></li>
      <li><a class="active" href="/bands">View Bands</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/contact"><span class="glyphicon glyphicon-user"></span>Contact</a></li>
    </ul>
  </div>
</nav>
<h1>Create a Band To Your List</h1>
<hr>
<br>
<form action="/bands/new" method="post">
  <label for="band-name">Name</label>
  <input id="band-name" name="band-name" type="text">
  <button type="submit">Add</button>
</form>
