<h1>Contact page</h1>
<p>
  This Application is sponsored by Epicodus. For more information regarding
  this application or for troubleshooting it you may contact us at EpicdousFestival@gmail.com
</p>
