<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="Content/styles.css" >

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <h1><a class="navbar-brand" href="#">Doctor Patient Database</a></h1> -->
    </div>
    <ul class="nav navbar-nav">
      <li><a class="active"href="#">Home</a></li>
      <li><a class="active" href="/venues">View Doctors</a></li>
      <li><a class="active" href="/bands">Add New Patients</a></li>
      <!-- <li><a class="active" href="/patients">View Patients</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>Contact</a></li>
    </ul>
  </div>
</nav>

<h1>Rock Band Tracker</h1>
<hr>
<p>Please Click the Link Below to get Started</p>
<!-- <h2><a href="/venues">View Venues</a></h2>
<br>
<h2><a href="/bands">View Bands</a></h2> -->
