<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="Content/styles.css" >


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <h1><a class="navbar-brand" href="#">Doctor Patient Database</a></h1> -->
    </div>
    <ul class="nav navbar-nav">
      <li><a class="active"href="/">Home</a></li>
      <li><a class="active" href="/venues">Venues</a></li>
      <li><a class="active" href="/bands">Bands/Artists</a></li>
      <li><a class="active" href="/venues/new">Add Venue</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/contact"><span class="glyphicon glyphicon-user"></span>Contact</a></li>
    </ul>
  </div>
</nav>
<h1 class="venue">Venues/Stages</h1>
<br>
<p>Keep Track of What Bands Play at Which Venue</p>
<br>
<h2 class="venues">List of Venues:</h2>
<br>
@if (Model.Count != 0)
{
  <ul>
    @foreach (var venue in Model)
    {
      <li><a href='/venues/@venue.GetId()'>@venue.GetName()</a> | <a href="/venue/edit/@venue.GetId()">Edit</a>| <a href="venue/delete/@venue.GetId()">Delete</a>
      </li>
    }
  </ul>
  <br>
  <br>
  <form action="/venues/delete" method="post">
    <button type="submit">Clear All</button>
  </form>
}
