<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="Content/styles.css" >

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li><a class="active"href="/">Home</a></li>
      <li><a class="active" href="/venues">Venues</a></li>
      <li><a class="active" href="/bands">Bands/Artists</a></li>
      <li><a class="active" href="/venues/new">Add Venue</a></li>
      <li><a class="active" href="/bands/new">Add Band</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/contact"><span class="glyphicon glyphicon-user"></span>Contact</a></li>
    </ul>
  </div>
</nav>
<h2>Confirm to Delete</h2>
<br>
<h4>@Model.GetName()</h4>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="Content/styles.css" >
<form action="/venue/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
