<h1>Add a Venue</h1>
<br>


<form action="/venues/new" method="post">
  <label for="venue-name">Venue name</label>
  <input id="venue-name" name="venue-name" type="text">
  <button type="submit">Add</button>
</form>
<br>
<h2><a href="/">Home</a></h2>
<hr>
