body {
  background-image: url("http://ak0.picdn.net/shutterstock/videos/3529622/thumb/1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar {
  padding-top: 2%;
  font-size: 35px;
  font-style: italic;
  font-family: cursive;
  background-color: #101010; 
}

.jumbotron {
    margin-bottom: 50px;
    background-image: url("http://livemusicusa.net/pictures/live%20music%20header%20an.gif");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    padding-top: 10px;
    border-radius: 60px;
}
a:hover {
    color: white;
    text-decoration: underline;
    font-size: 25px;
    font-family: fantasy;
    font-style: italic;
  }

.venue {
  color: white;
  font-style: italic;
  font-family: cursive;
  font-size: 70px;
}
p{
  color: white;
  font-size: 20px;
  font-style: italic;
  font-family: cursive;
}
.venues{
  color: white;
  font-style: italic;
  font-family: cursive;
}
  h1 {
    animation-duration: 3s;
    animation-name: slidein;
    font-style:italic;http://www.visitaarhus.com/sites/default/files/styles/galleries_ratio/public/asp/visitaarhus/Musiksteder/Musikhuset/amfisscenen-2.jpg?itok=DRXLFjVn
    font-family: cursive;
  }
  .p {
    animation-duration: 3s;
    animation-name: slidein;
    font-style: italic;
    font-family: cursive;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }


.label {
  color: white;
  font-size: 60px;
}
.form {
  font-size: 30px;
  color: white;
}

.forms {
  color: white:
}
